#!/bin/sh
# NOTE: wayland do not load specific files on graphical session login - workaround is to load .xprofile at login (e.g. add to sway config: `exec sh ~/.xprofile`)
# Description: This file runs when a DM logs you into a x11 graphical session.

# history clean up
[[ -d $HOME/.local/share/RecentDocuments ]] && find $HOME/.local/share/RecentDocuments -type f -exec rm -f {} \;

# music deamon
pgrep mpd || mpd &

# start nextcloud client if installed
command -v nextcloud && nextcloud --background &


if [[ "$XDG_SESSION_TYPE" = "x11" ]]; then
    if [[ "$XDG_SESSION_DESKTOP" != "KDE" ]]; then

        # Notification service
        dunst -icon_path "$HOME/.config/dunst/icons/" &
        
        # Network service
        nm-applet &

        # clipboard service
        clipmenud &

        # x11 compositor (transparent windows)
        picom --backend glx --unredir-if-possible --vsync -c -b
       
        # start usb mount helper if installed
        command -v udiskie && udiskie -A -n -s --file-manager="$TERMINAL --working-directory " &
        
        # lock screen
        xidlehook --not-when-fullscreen --not-when-audio --timer 300 \
            'notify-send -t 10000 -- "LOCKING screen in 30 seconds"' '' --timer 30 'i3lock -e -f --nofork -B=100' '' &

        # disable dpms
        xset dpms 0 0 0
        xset -dpms
        xset s off

        # set german keymap
        setxkbmap de

        # set key repeat rate
        xset r rate 350 30
        
        # set default mouse cursor to left_ptr (~/.icons/default/cursors)
        xsetroot -cursor_name left_ptr

        if [ -d ~/.xmonad ] && grep "xmonad$" <<< "$DESKTOP_SESSION" >/dev/null; then
            # Fix: recompile xmonad if the compiler version has changed so that xmonad works after a system update.
            if ! grep "$(ghc --version)" ~/.xmonad/ghc.version >/dev/null 2>&1 ; then
                ghc --version > ~/.xmonad/ghc.version
                xmonad --recompile && xmonad --restart
            fi
        fi

        # Fix for my Xmonad Swallow extension
        export LD_PRELOAD=$HOME/.local/lib/X11/net-wm-pid/ld-preload-xcreatewindow.so
        
        # create a (executable) .xrandr file in your directory to set a custom resolution
        # e.g. with 'xrandr -s 3440x1440 -r 120'
        # [[ -f ~/.xrandr ]] && sh ~/.xrandr

        # set wallpaper
        $HOME/.local/bin/x11-wallpaper random
    fi
elif [[ "$XDG_SESSION_TYPE" = "wayland" ]]; then
    if [[ "$XDG_SESSION_DESKTOP" != "KDE" ]]; then

        # notificatio service
        mako &

        # network service
        GDK_BACKEND=x11 nm-applet --indicator &
        
        # clipboard service
        wl-paste -t text --watch clipman store &

        # start usb mount helper if installed
        command -v udiskie && udiskie -A -n -s --appindicator --file-manager="$TERMINAL --working-directory " &
    fi
fi

[ ".xprofile" ]  # set exit code to 0
